APP_NAME="Marketplace OR Ecommerce"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_CO

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ecommerce_or
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

LOG_CHANNEL=stack
LOG_LEVEL=debug

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="notificaciones@latiendademiabue.kyronsoft.com"
MAIL_FROM_NAME="La Tienda de Mi Abue"

CACHE_STORE=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=public

EPAYCO_PUBLIC_KEY=
EPAYCO_PRIVATE_KEY=
EPAYCO_TEST=true
EPAYCO_LANG=ES
EPAYCO_CURRENCY=COP
EPAYCO_COUNTRY=CO
EPAYCO_RESPONSE_URL="${APP_URL}/payments/epayco/response"
EPAYCO_CONFIRMATION_URL="${APP_URL}/payments/epayco/confirmation"
EPAYCO_MIN_AMOUNT=
EPAYCO_MAX_AMOUNT=
